name: Auto Label Pull Request
on:
  pull_request:
    types: [opened]

jobs:
  add-label:
    permissions:
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest

    steps:
      - name: Add label to PR
        uses: actions-ecosystem/action-add-labels@v1
        with:
          labels: auto-labeled
          github_token: ${{ secrets.GITHUB_TOKEN }}
